<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">

  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
<header>
</header>
<br>
<div id ='sampleposting'>

  <h2 style="text-align: left">Test API responses</h2>
  <div>
    <h4>Search item</h4>
     <form action="" id='search_form' class="border">
      <h4>Test post to /api/search_item</h4>
      <label for="title" >Search</label>
      <input type="text" id='search_key' name="string_key" value=""><br>
      <input type="submit" id='button_search' value="Search">
    </form>
    <ul id='search_list'>
    </ul>
  </div>
  <hr>


  <div>
    <h4>Get countries</h4>
    <button id='get_countries_button'>Get countries</button>
      3 <input class='quantity_i' type="radio" name='country' value="3">
      5 <input class='quantity_i' type="radio" name='country' checked value="5">
      10 <input class='quantity_i' type="radio"name='country' value="10">
    <ul id='country_list'></ul>
    <div id="paginat_system"></div>
  </div>
  <hr>

  <div>
    <h4>Get satellites</h4>
    <button id='get_satellites_button'>Get satellites</button>
      3 <input class='quantity_n' type="radio" name='satellite' value="3">
      5 <input class='quantity_n' type="radio" name='satellite' checked value="5">
      10 <input class='quantity_n' type="radio"name='satellite' value="10">
    <ul id='satellite_list'></ul>
    <div id="paginat_system2"></div>
  </div>
  <hr>
  <h4>Find country by id</h4>
      <form id="get_country" class="border">
        <input type="text" id='id_country' name="id"><br>
        <input type="submit" value="Find info">
      </form>
      <div id="country_info"></div>
      <ul id="c_satellites"></ul>
  <hr>
 
  <h4>Find satellite by id</h4>
      <form action="" id="get_satellite" method="post" class="border">
        <input type="text" id='id_satellite' name="id"><br>
        <input type="submit" value="Find info">
      </form>
      <div id="satellite_info"></div>
  <hr>
  <h4>Add country</h4>
  <form action="" id="add_country" class="border">
    <label for="title" >Country</label>
    <input type="text" id="spec_id_country" name="id" value="" placeholder="id"><br>
    <input type="text" id="name_country" name="name" value="" placeholder="name"><br>
    <input type="submit" value="Add country">
  </form>

  <hr>
  <h4>Add satellite</h4>
  <form method="post" action="" id="add_satellite" class="border">
    <label for="sat_name">Satellite name</label>
    <input type="text" id="sat_id" value="" placeholder="id"><br>
    <input type="text" id="sat_name" value="" placeholder="name"><br>
    <label for="country">Country</label>
      <select id="country" name="country"> 
        <option value="null" selected>---</option>
      </select>
      <select id="country1" name="country1">
        <option value="null" selected>---</option>
      </select>
      <select id="country2" name="country2"> 
        <option value="null" selected>---</option>
      </select><br>
    <input type="submit" value="Submit">
  </form>

  <hr>
  <h4>Open List of countries</h4>
  <button id='close_list_c'>Open list</button>
   <ul id='country_l' class='hidden_block'> </ul>


  <hr>
  <h4>Open List satellites</h4>
  <button id='close_list_s'>Open list</button>
   <ul id='satellite_l' class='hidden_block'></ul>


<hr style='margin: 50px'>


<script type="module" src="/main.js"></script>
  <script type="module">

    let set_country, set_satellite;
    let obj = {query: `{
            getAllItems {
              ...on Satellite{
                _id, _rev, type, name, country_id
              }
              ...on Country{
                _id, _rev, type, name
              }
            }
          }
      `}

    fetchDataPost(obj).then(doc => {
      let n = doc.data.getAllItems;
      set_country = n.filter(n => n.type == 'country')
      set_satellite = n.filter(n => n.type == 'satellite')
    
   
      let ul_c = document.querySelector('#country_l');
      let ul_s = document.querySelector('#satellite_l');
      let close_button_c = document.querySelector('#close_list_c');
      let close_button_s = document.querySelector('#close_list_s');

      close_button_c.onclick = (e) => { 
        showList(set_country, document.querySelector('#country_l') , 'country');
        ul_c.classList.toggle('hidden_block') 
      };

      close_button_s.onclick = (e) => {
        showList(set_satellite, document.querySelector('#satellite_l') , 'satellite');
        ul_s.classList.toggle('hidden_block');
      }

      getOptions(set_country, '#country')
      getOptions(set_country, '#country1')
      getOptions(set_country, '#country2')

    }).catch(err => console.log(err))

    function chooseName(selectElem, varname){
      const filtered = Array.from(selectElem.options).filter(el => el.selected).map(el => el.value);
      return filtered[0]
    }


    function fetchDataPost(obj){
      return fetch('/graphql', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
        body: JSON.stringify(obj)
      })
        .then(r => r.json())
    }


  function showList(arr, par, type){
    let elemsList = arr.reduce((str, n) => {
      return str += `
    <li> ${n.name},  id: ${n._id} <input type="submit" data-id="${n._id}" class='del_item' data-rev="${n._rev}" value="Delete"> </li>
    `}, '')

    par.innerHTML = elemsList;

  for(let elem of document.querySelectorAll('.del_item')){
    elem.onclick = deleteItem;
  }


  function deleteItem(e){
    let _id = e.target.dataset.id;
    let _rev = e.target.dataset.rev;
    let sample = type == 'country'? 'deleteCountry': 'deleteSatellite' ;
    let query = `mutation ${sample}($_id: ID!, $_rev: String!){
      ${sample}(input: { _id: $_id, _rev: $_rev }){
          name
        }
    }`;
    
    let param_obj = {query, variables: { _id, _rev }};
    fetchDataPost(param_obj).then(doc => doc).catch(err => console.log(err))
  }
}


  document.querySelector('#add_satellite').onsubmit = async (e) => {
    e.preventDefault();
    let arr = [chooseName(document.querySelector('#country')), 
                chooseName(document.querySelector('#country1')),
                chooseName(document.querySelector('#country2'))
    ];
    let country_id = [ ...new Set(arr) ].filter(n => n != 'null')
    let _id = document.querySelector('#sat_id').value;
    let name = document.querySelector('#sat_name').value;
   
    let query = `mutation createSatellite($_id: ID!, $name: String!, $country_id: [ID!]){
      createSatellite(input: { _id: $_id, name: $name, country_id: $country_id }){
          name
        }
    }`;
    let param_obj = {query, variables: { _id, name, country_id }};
    fetchDataPost(param_obj).then(doc => doc).catch(err=>console.log(err))
  }


  document.querySelector('#add_country').onsubmit = (e) => {
    e.preventDefault();
    let _id = document.querySelector('#spec_id_country').value;
    let name = document.querySelector('#name_country').value;
    
    let query = `mutation createCountry($_id: ID!, $name: String!){
      createCountry(input: { _id: $_id, name: $name }){
          name
        }
    }`;
    let param_obj = {query, variables: { _id, name }};
    fetchDataPost(param_obj).then(doc => doc).catch(err => console.log(err))
  }


  function getOptions(arr, selectorSelect){
     let elemsList = arr.reduce((str, n) => {
        return str += `
          <option value="${n._id}" data-rev="${n._rev}">${n.name}</option>
      `}, '')
    document.querySelector(selectorSelect).innerHTML += elemsList
  }



</script>
</body>
</html>
